*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
utils/.classpath
utils/.project
utils/.settings/org.eclipse.buildship.core.prefs
.project
.settings/org.eclipse.buildship.core.prefs
app/.classpath
app/.project
app/.settings/org.eclipse.buildship.core.prefs
*.patch
*.log
